# Database DSN for PyIngestKit PostgreSQL target
PYINGEST_TARGET_DATABASE_URL=postgresql://postgres@localhost:5432/pyingest

# Database DSN for PyIngestKit PostgreSQL metadata backend
PYINGEST_DATABASE_URL=postgresql://postgres@localhost:5432/pyingest

# Database DSN for integration tests (pytest)
PYINGEST_TEST_POSTGRES_DSN=postgresql://postgres@localhost:5432/pyingest
